@model BookInventory.Models.ViewModels.BookDataViewModel

@{
    ViewBag.Title = "Create";
}

<legend>Create</legend>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        @Html.Partial("_CreateEditBook")
    }
</div>


