@model BookInventory.Models.ViewModels.BookDataViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="grayboxx">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Partial("_CreateEditBook")
    }
</div>


