@model BookInventory.Models.ViewModels.BookDataViewModel

@{
    ViewBag.Title = "Edit";
}

<legend>Edit Book</legend>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Book.BookId)
        @Html.Partial("_CreateEditBook")
    }
</div>


