@model BookInventory.Models.ViewModels.BookAuthorCategoryViewModel

@{
    ViewBag.Title = "Index";
}

<legend>Library</legend>
<div class="col-lg-6 container">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
        </span>
    </div>
</div>
<hr />
<hr />
<hr />
<div class="container-fluid row">
    @foreach (var item in Model.AllBooks)
    {
        <a href="@Url.Action("Details","Books", new { id = item.BookId})" title="@item.Title"><img src="@item.CoverThumbnailPath" alt="Book" class="img-thumbnail"/></a>
    }
</div>

