body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

/*.form-control {
    width: 100%;
}*/

.horizontal-align {
    float:left;
    padding-left: 0;
}

.spaced {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}

legend {
    font-size: 40px;
}

.img-thumbnail {
    width: 128px;
    height: 191px;
    margin: 15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
}

.gray-round {
  background-color: #f4f4f4;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
}

footer {
    position: fixed;
    bottom: 0;
}