@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BookStore Management System</h1>
    <p class="lead">A light-weight inventory and sales management system for book stores built in ASP.NET Framework.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To use the system, please login or register an account. <br />Or you can use our test account below:
            <blockquote>
                username : admin
                <br />
                password : VhV8a7UJ*
            </blockquote>            
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Account")">Login &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <h2>It's all about books!</h2>
        <p><blockquote>A book is a dream that you hold in your hand.</blockquote>
            - Neil Gailman
        </p>
        <p><img class="img-thumbnail" src="https://booksandbeverages.files.wordpress.com/2013/10/book-inspiration-quote.jpg"/></p>
    </div>
</div>